<header>
  <div class="container">
    <div class="header">
      <a routerLink="/" class="logo">MovieGo</a>
      <div class="navigationSearch">
        <nav>
          <ul>
            <li><a routerLink="/">Фильмы</a></li>
            <li><a routerLink="/favourites">Избранное</a></li>
          </ul>
        </nav>
        <form class="searchForm"
              [formGroup]="searchForm"
              (ngSubmit)="goToSearchPage(searchForm.get('search').value.trim())"
              (clickOutside)="onClickedOutside($event)"
        >
          <div class="inputSearch">
            <label>
              <input type="text" #searchInput placeholder="Фильм"
                     formControlName="search"
              >
            </label>
            <button class="btn" type="submit">Поиск</button>
          </div>
          <div [ngStyle]="{ display: showResultsBox ? '' : 'none' }">
            <div class="searchResults" *ngIf="response$ | async as response">
              <ul *ngIf="response.results.length > 0; else noResults">
                <li *ngFor="let movieCard of response.results">
                  <div class="movie-link" (click)="goToMoviePage(movieCard.id)">
                    <img *ngIf="movieCard.poster_path; else emptyPoster"
                         src="https://image.tmdb.org/t/p/w300/{{movieCard.poster_path}}" alt="Poster"
                    >
                    <ng-template #emptyPoster>
                      <img src="../../../../assets/images/empty_poster.jpg" alt="Poster">
                    </ng-template>
                    <span>{{movieCard.title}}, {{movieCard.release_date | slice:0:4}}</span>
                  </div>
                </li>
              </ul>
              <ng-template #noResults>
                по запросу {{searchForm.get('search').value.trim()}} нет результатов
              </ng-template>
              <div *ngIf="response.results.length > 0" class="openAllResults">
                <a (click)="goToSearchPage(searchForm.get('search').value.trim())">
                  Открыть все результаты поиска
                </a>
              </div>
            </div>
            <div *ngIf="error" class="openAllResults">
              Что-то пошло не так.
              <a (click)="goToSearchPage(searchForm.get('search').value.trim())">
                Попробовать снова
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

