<header>
  <div class="container">
    <div class="header">
      <a routerLink="/" class="logo">MovieGo</a>
      <div class="navigationSearch">
        <nav>
          <ul>
            <li><a routerLink="/">Фильмы</a></li>
            <li><a routerLink="/favourites">Избранное</a></li>
          </ul>
        </nav>
        <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="goToSearchPage()">
          <div class="inputSearch">
            <label>
              <input type="text" placeholder="Фильм" formControlName="search" (keypress)="searchSetup()" (change)="searchSetup()" (keyup)="searchSetup()">
            </label>
            <button class="btn" type="submit">Поиск</button>
          </div>
          <div *ngIf="showResultsBox && this.searchInfoByString.has(searchForm.get('search').value.trim())"
            class="searchResults"
          >
            <ul *ngIf="this.searchInfoByString.get(searchForm.get('search').value.trim()).length > 0; else noResults">
              <li *ngFor="let movieCard of this.searchInfoByString.get(searchForm.get('search').value.trim())">
                <a (click)="goToMoviePage(movieCard.id)">
                  <div class="movie-link">
                    <img *ngIf="movieCard.poster_path; else emptyPoster"
                         src="https://image.tmdb.org/t/p/w300/{{movieCard.poster_path}}" alt="Poster" />
                    <ng-template #emptyPoster>
                      <img src="../../../../assets/images/empty_poster.jpg" alt="Poster" />
                    </ng-template>
                    {{movieCard.title}}, {{movieCard.release_date | slice:0:4}}
                  </div>
                </a>
              </li>
            </ul>
            <ng-template #noResults>
              по запросу {{searchForm.get('search').value.trim()}} нет результатов
            </ng-template>
            <div class="openAllResults">
              <a (click)="goToSearchPage()">
                Открыть все результаты поиска
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

