<div class="movieCard">
  <div (click)="goToMoviePage(movieCard.id)"
  >
    <img *ngIf="movieCard.poster_path; else emptyPoster"
         src="https://image.tmdb.org/t/p/w300/{{movieCard.poster_path}}" alt="Poster" />
    <ng-template #emptyPoster>
      <img src="../../../../assets/images/empty_poster.jpg" alt="Poster" />
    </ng-template>
    <div class="movie-title">
      <p>{{movieCard.title}}</p>
      <small>{{movieCard.release_date | slice:0:4}} г</small>
    </div>
  </div>
  <div class="genres-box">
    <app-genre-list
      [genreIds]="movieCard.genre_ids"
    ></app-genre-list>
  </div>
  <div class="favorite-button-block">
    <app-favorites-button
      [movieId]="movieCard.id"
    ></app-favorites-button>
  </div>
</div>

